body{
	background-image:url("/rsrc/img/mb.jpg");
	color:#fff;
	margin:0px;
	padding:0px;
}
.br{
	height:75px;
}
.thumbnailogo{
	width:45px;
	height:45px;
}
.insearch{
	float:left;
	width:70%;
	text-align:center;
	font-size:22px;
}
